.mainNavbar{
    background-color: #dbd8d8;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ff0000;
}
.topimages{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    
}
.eco{
    font-size: 23px;
}
.logo2>img{
    width: 30%;
}


/*@ Media Queries*/
@media screen and (max-width: 768px){
    .mainNavbar{
        font-size: 1em;
        font-weight: bold;
        padding: 0em;
        margin: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #ff0000;
    }
    .topimages{
        display: flex;
        justify-content: space-between;
        padding: 0em;
        
    }
    .eco{
        font-size: 20px;
    }
    .logo2>img{
        width: 20%;
    }
}