/* 


@media screen and (max-width: 768px) {
    
    body{
        text-align: center;
        background-color: #dad8d8d3;
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            color: #333;
            line-height: 1;
            margin: 0;
            padding: 0px 0px;
        }
} */